<configuration scan="false" scanPeriod="60 seconds">

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.mozartspaces" level="ERROR"/>
    <logger name="org.falafel" level="DEBUG" />

    <root level="ERROR">
        <appender-ref ref="stdout"/>
    </root>

</configuration>
