<configuration scan="false" scanPeriod="60 seconds">

    <appender name="stderr" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <target>System.err</target>
    </appender>

    <logger name="org.mozartspaces" level="ERROR"/>
    <logger name="org.falafel" level="WARN" />

    <root level="ERROR">
        <appender-ref ref="stderr"/>
    </root>

</configuration>
